@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600&family=Roboto:wght@300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Playfair+Display:ital,wght@1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profile-container {
  height: 110vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/fondo_ruta.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 3em;
  
}
.likeRoutes{
height:11em;
overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}
.profile-title {
  font-size: 2rem;
  color:white;
  margin-bottom: 2rem;
  font-family: 'Playfair';
  font-weight: 600;
  letter-spacing: 0.3rem;
}
.profile-card {
  width: 80%;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.904);
}
.profile-image {
  top: -60px;
  border-radius: 1rem;
  width: 11rem;
  height: 11rem;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
  object-fit: cover;
}
.profile-info {
  text-align: center;
  margin-top: 1rem;
}
.ant-btn-primary {
  border-radius: 10px;
  padding: 4px 8px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 12px;
  background: lightgrey;
  color: black;
}

ant-btn-primary:hover {
  background-color: lightgrey;
}

.btn-profileRed {
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  background-color: lightgrey;
}
.btn-profile2 {
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  background-color: lightgrey;
}
.btn-profile2:hover {
  background-color: blue;
  color: white;
}
.btn-profileRed:hover {
  background-color: red !important;
  color: white !important;
  border:1px solid red !important;
}
.but-profile-div {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.logo-prof {
  color: black;
  font-size: 20px;
}
.top-prof-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.prof-h3 {
  letter-spacing: 2px;
  font-style: italic;
}
.route-profile-fav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: auto;

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
}
.col-fav-1 {
  display: flex;
  margin-bottom: 5px;
  flex: 1.4;
  justify-content: flex-end;
}
.col-fav-2 {
  display: flex;

  flex: 2;
  justify-content: flex-start;
}
