.buttonType {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  gap: 0.2em;

  button {
    background-color: #FF6F9A;
    color: white;
    border-radius: 30px;
  }
  button:hover {
    cursor: pointer;
    color: #FF6F9A;
    border: 1px solid #FF6F9A;
  }
  button:active {
    background-color: #FF6F9A;
  }
  button:focus {
    color: #FF6F9A;
    border: 2px solid #FF6F9A;
  }
}
