.buttonType {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  gap: 0.2em;

  button {
    background-color: rgb(209, 77, 77);
    color: white;
    border-radius: 30px;
  }
  button:hover {
    cursor: pointer;
    color: rgb(209, 77, 77);
    border: 1px solid rgb(209, 77, 77);
  }
  button:active {
    background-color: rgb(209, 77, 77);
  button:focus {
    color: rgb(209, 77, 77);
    border: 2px solid rgb(209, 77, 77);
  }
}
}