
.comment-img{
    width:170px !important;
}

.deleteAndEditContainer{
  display:flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom:2em;
  gap:1em;
}


@media (min-width: 450px) {
  .comment-img{
    width:18em !important;

  }
  .animate__animated{
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
  }
  .comment-detail-route-prof{
  width:60%;


  }
  .ant-comment{
    justify-content: center;
    width:100
  }
  .ant-comment-inner{
    flex:1;
  }
  .ant-comment-content-detail{
    padding:1em;
    justify-content: space-around;
    
  }
  .textAndImageContainer{
    display:flex;
    justify-content: space-between;
    width:100%;
  }
  .comment-detail-route{
 
    flex:1;
  }
 
  .deleteAndEditContainer{
    display:flex;
    padding-top: 1em;
    padding-bottom:2em;
    gap:1em;
  }
  }
