
.comment-img{
    width:170px !important;
}

@media (min-width: 450px) {
  .comment-img{
    width:18em !important;

  }
  .animate__animated{
    display:flex;
    justify-content: center;
  }
  .comment-detail-route-prof{
  width:60%;


  }
  .ant-comment{
    justify-content: center;
    width:100
  }
  .ant-comment-inner{
    flex:1;
  }
  .ant-comment-content-detail{
    padding:1em;
    justify-content: space-around;
    
  }
  .textAndImageContainer{
    display:flex;
    justify-content: space-between;
    width:100%;
  }
  .comment-detail-route{
 
    flex:1;
  }
 
  }

