@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600&family=Roboto:wght@300;400;500;900&display=swap');

h1 {
  font-family: 'Playfair';
}
.login-container {
  width: 100vw;
  height: 100vh;
  padding-bottom: 2em;
}

.col-1 img {
  width: 100%;
  display: block;
}

.form-login-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;

  .input-field {
    display: flex;
    flex-direction: column;
  }

  button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid white;
    outline: none;
    display: block;
    width: 100%;
    margin: 18px 0 10px;
    font-weight: 500;
    cursor: pointer;
  }

  button:hover {
    background-color: #227bd9;
    color: white;
    border: 0;
  }
}

@media (min-width: 450px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
    background-image: url('../../../assets/fondo_ruta.jpg');
    background-size: cover;

    .login-box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.904);
      border-radius: 10px;
      padding: 1em;

      gap: 10px;
      .col-1 {
        width: 50%;
        max-width: 60%;
        img {
          border-radius: 20px;
        }
      }

      .col-2 {
        display: flex;
        justify-content: center;
      }
    }
  }
}
