.mainContainer {
  margin-bottom: 5em;
}

.mainContainer .aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainContainer .aboutUs .text {
  margin-top: 1em;
}

.mainContainer .aboutUs .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.mainContainer .aboutUs .about .target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20em;
  height: 10em;
  padding: 1em;
  border: 1px solid lightgray;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
  padding-bottom: 3em;
  margin: 2em;
  background-color: rgba(255, 255, 255, 0.904);
}

.mainContainer .aboutUs .about .target .img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 18vh;
}

.mainContainer .aboutUs .about .target .img .imgAuth {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainContainer .aboutUs .about .target .data {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18vh;
}

.mainContainer .aboutUs .about .target .data .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 9vh;
  margin: 0;
}

.mainContainer .aboutUs .about .target .data .iconsSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9vh;
  gap: 1em;
}

.mainContainer .aboutUs .about .target .data .iconsSocial .svg {
  color: black;
  font-size: 3em;
}

@media (min-width: 450px) {
  .mainContainer {
    margin-bottom: 0;
  }
  .mainContainer .aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80vw;
    height: 100vh;
  }
  .mainContainer .aboutUs .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10em;
    padding-top: 0;
  }
}
/*# sourceMappingURL=AboutUs.css.map */