@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600&family=Roboto:wght@300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100,200,300,400&family=Balthazar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&family=Balthazar&family=Libre+Barcode+39&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700;800&family=Overpass+Mono:wght@300&display=swap');

h1 {
  font-family: 'Playfair';
}

.register-container {
  width: 100vw;
  padding-bottom: 2em;
  background-image: url('../../../assets/fondo_ruta.jpg');
  background-size: cover;

  .form-register-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.904);
    border-radius: 10px;
    .question {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    .loginBt {
      padding: 10px;
      border-radius: 4px;
      border: 1px solid white;
      outline: none;
      display: block;
      width: 100%;
      margin: 18px 0 10px;
      font-weight: 500;
      cursor: pointer;
    }

    .loginBt:hover {
      background-color: #227bd9;
      color: white;
      border: 0;
    }
  }
}
.register-title {
  font-size: 2rem;
  font-family: 'Dosis';
  opacity: 0.5;
  margin-top: 0;
  color: black;
  font-weight: 800;
  margin-top: 1em;
  // text-shadow: 4px 4px 7px red;
}

@media (min-width: 450px) {
  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 2em;

    .form-register-container {
      width: 40em;
      padding: 2em 5em;
    }
  }
}
