.buttonTransport {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1em;

  button {
    background-color: #33ac71;
    color: white;
    border-radius: 30px;
  }
  button:hover {
    cursor: pointer;
    color: #33ac71;
    border: 1px solid #33ac71;
  }
  button:active {
    background-color: #33ac71;
  }
  button:focus {
    color: #33ac71;
    border: 2px solid #33ac71;
  }
}
