h1 {
  font-family: 'Playfair';
}

.main{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 5em;
}

.up {
  all: unset;
  position: sticky;
  top: 30%;
  margin: 2px;
}

.up a {
  all: unset;
  writing-mode: vertical-rl;
  letter-spacing: 0.3em;
  font-size: 2.5em;
  padding: 2px;
  cursor: pointer;
  color: lightgrey;
}
.barra-nav {
  position: fixed;
  right: 0px;
  top: 80vh;
}

@media screen and (min-width: 450px) {
  .main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
  }
  .up a {
    letter-spacing: 0;
    font-size: 1.8em;
  }
  .barra-nav {
    right: -0.5em;
    top: 80vh;
  }
}
