.footerContainer{
    background-color: #1f72cc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom:0;
    width:100%;
    height:3em;
    display:none;
   
    a{
      padding:10px;
      color:black

    }
    a:hover{
    color: white;
    }
    
}
@media  screen and (max-width: 600px) {
  .footerContainer{
    display: flex;
    z-index: 999;
  }
}