.footerContainer{
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom:0;
    width:100%;
    height:3em;
    display:none;
    a{
      padding:10px;
      color:black

    }
    a:hover{
      // background-color: #227bd9;
      // border-radius: 30px;
      color:#227bd9;
    }
    
}
@media  screen and (max-width: 600px) {
  .footerContainer{
    display: flex;
  }
}