.form{
    width:50%;
    margin:2em;
    padding:2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 30px;

}
.containerQuiz{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numberIn{
   width:6em
}
.titleForm{
    font-size: 3em;
}